html,body {
  height: 100%;
}
.btn {
  background-color: #ffc107;
}



@media (min-width: 768px) {
  #page-wrap {
    position: relative;
  }

  #sidebar {
    position: fixed;
    width: inherit;
  }
}

.quote {

}

.blurb {

}

.blurb-text {

}

.blurb-attributed {

}
